<head>
    <meta charset="utf-8" />
    @*Убрать отступы в header*@
    <link rel="stylesheet" href="~/css/normalize.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="#"><img class="header__logo" src="~/img/NFT/Header/Logo.jpg" alt="logo" /></a>
        <div class="form">
            <button class="form__button"><img class="from-button__img" src="~/img/NFT/Header/search.svg"></button>
            <input class="form__input" type="search" placeholder="Search items and collection" />
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"> <a class="header__link" href="#">Collections</a></li>
                <li class="header__item"> <a class="header__link" href="#">Feature</a></li>
                <li class="header__item"> <a class="header__link" href="#">FAQ</a></li>
                <li class="header__item"> <a class="header__link header__link_gradient" href="#">Select Wallet</a></li>
            </ul>
        </nav>
        <div class="header__buttons">
            <button class="header__search"><img class="buttons-search__img" src="~/img/NFT/Header/search.svg" alt="search" /></button>
            <button class="header__menu"><img class="buttons-menu__img" src="~/img/NFT/Header/menu.svg" alt="menu" /></button>
        </div>
    </header>
    <div class="container">
        <section>
            <div class="main">
                <div class="main__text">
                    <h1 class="main__title">Create, Sell & Collect Your Own Creative</h1>
                    <p class="main__decs">Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc vulputate libero et velit.</p>
                    <a class="main__btn main__btn_gradient" href="#">Explore Now</a>
                    <a class="main__btn" href="#">Sell NFT</a>
                    <ul class="main__list">
                        <li class="main__item"><span class="main__span">37k+</span>Artworks</li>
                        <li class="main__item"><span class="main__span">20k+</span>Artists</li>
                        <li class="main__item"><span class="main__span">99k+</span>Aucations</li>
                    </ul>
                </div>
                <div class="main__image">
                    <img class="main__img" src="https://i.picsum.photos/id/1011/5472/3648.jpg?hmac=Koo9845x2akkVzVFX3xxAc9BCkeGYA9VRVfLE4f0Zzk" alt="img" />
                </div>
            </div>
            <div class="company">
                <img class="company__img" src="~/img/clients/01.png" alt="client" />
                <img class="company__img" src="~/img/clients/02.png" alt="client" />
                <img class="company__img" src="~/img/clients/03.png" alt="client" />
            </div>
        </section>
        <section>
            <h2 class="title">Featured Artworks</h2>
            <p class="desc">Loren ipsum dolor sit amet, consecterur adipicing elit.</p>
            <div class="card">
                <div class="card__item">
                    <div class="card__cover">
                        <img class="card__img" src="https://i.picsum.photos/id/1011/5472/3648.jpg?hmac=Koo9845x2akkVzVFX3xxAc9BCkeGYA9VRVfLE4f0Zzk" />
                    </div>
                    <div class="card__info">
                        <div>
                            <p class="card__nick">kg0ez</p>
                            <p class="card__author">Yellow Painting</p>
                        </div>
                        <p class="card__bid">Current Bid<span class="card__price">0.005 ETH</span></p>
                    </div>
                    <a href="#" class="card__link">Place a bid</a>
                </div>
                <div class="card__item">
                    <div class="card__cover">
                        <img class="card__img" src="https://i.picsum.photos/id/1011/5472/3648.jpg?hmac=Koo9845x2akkVzVFX3xxAc9BCkeGYA9VRVfLE4f0Zzk" />
                    </div>
                    <div class="card__info">
                        <div>
                            <p class="card__nick">kg0ez</p>
                            <p class="card__author">Yellow Painting</p>
                        </div>
                        <p class="card__bid">Current Bid<span class="card__price">0.005 ETH</span></p>
                    </div>
                    <a href="#" class="card__link">Place a bid</a>
                </div>
                <div class="card__item">
                    <div class="card__cover">
                        <img class="card__img" src="https://i.picsum.photos/id/1011/5472/3648.jpg?hmac=Koo9845x2akkVzVFX3xxAc9BCkeGYA9VRVfLE4f0Zzk" />
                    </div>
                    <div class="card__info">
                        <div>
                            <p class="card__nick">kg0ez</p>
                            <p class="card__author">Yellow Painting</p>
                        </div>
                        <p class="card__bid">Current Bid<span class="card__price">0.005 ETH</span></p>
                    </div>
                    <a href="#" class="card__link">Place a bid</a>
                </div>
            </div>
        </section>
        <section>
            <h2 class="title">Feature Artworks Question </h2>
            <p class="desc">Wanna Ask Something?</p>
            <div class="faq">
                <div class="faq__item">
                    <button class="collapsible">Open Section 1</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="collapsible">Open Section 2</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="collapsible">Open Section 3</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="faq__item">
                    <button class="collapsible">Open Section 1</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="collapsible">Open Section 2</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="collapsible">Open Section 3</button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="banner">
            <h3 class="banner__title">Get ready to collect our NFT</h3>
            <a href="#" class="banner__link">Get Started</a>
        </div>
    </div>
    <script src="~/js/scriptNFT.js"></script>

</body>

