@model PAymentForServices.Common.ModelsDto.PaymentDto
<head>
    <link rel="stylesheet" href="~/css/Payment.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="page__main-block main-block">
            <div class="main-block__container _container">
                <div class="main-block__body">
                    <div>
                        <h1 class="main-block__title">@Model.NameService</h1>
                        <form class="main-block__form" asp-action="Payment" asp-controller="Service">
                            <div class="form__block">
                                <label class="form__label" asp-for="Name">Имя:</label><br />
                                <input class="form__input" placeholder="Имя" value="@Model.Name" asp-for="Name" />
                            </div>
                                <div class="form__block">

                                    <label class="form__label" asp-for="LastName">Фамилия:</label><br />
                                    <input class="form__input" placeholder="Фамилия" value="@Model.LastName" asp-for="LastName" />
                                </div>
                                <div class="form__block">
                                    <label class="form__label" asp-for="CodeService">Номер услуги:</label><br />
                                    <input class="form__input" value="@Model.CodeService" placeholder="Номер услуги" asp-for="CodeService" />
                                </div>
                                <input class="form__submit" type="submit" value="Оплатить" />
                        </form>
                    </div>
                    <div>
                        <img class="main-body_img" src="~/img/mainblock/mainP.jpeg" alt="Финансы" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
