@using PAymentForServices.Common.ModelsDto
@model List<TypeService>

<head>
    <link rel="stylesheet" href="~/css/Payment.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="page__main-block main-block">
            <div class="main-block__container _container">
                <div class="main-block__body">
                    <div class="main-block__body-left">
                        <h1 class="main-block__title">Платежи ЕРИП</h1>
                        @foreach (var service in Model)
                        {
                            {
                                if (service.NameImg == "Folder.png")
                                {
                                    <form class="main-block__form" asp-action="Services" asp-controller="Service">
                                        <img class="main-block__form-img" src="~/img/Payment/Folder.png" alt="folder" />
                                        <input class="main-block__form-submit" type="submit" value="@service.Name" />
                                        <input name="Id" value="@service.Id" hidden="hidden" />
                                    </form>
                                }
                                else
                                {
                                    <form class="main-block__form" asp-action="Category" asp-controller="Service">
                                        <img class="main-block__form-payment_img" src="~/img/Payment/money.png" alt="money" />
                                        <input class="main-block__form-submit" type="submit" value="@service.Name" />
                                        <input name="category" value="@service.Name" hidden="hidden" />
                                    </form>
                                }
                            }

                        }
                    </div>
                    <div>
                        <img class="main-body_img" src="~/img/mainblock/mainP.jpeg" alt="Финансы" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
