@using PAymentForServices.Web.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PAymentForServices.Web</title>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/PAymentForServices.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="header_button">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="MainPage">Horizon-банкинг</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                @{
                    @if (UserAccount.Id == 0)
                    {

                        <div class="header_button">
                            <a class="main-block__button button_signIn" asp-controller="Authorization" asp-action="Login">
                                <div class="button_signIn-text">Войти</div>
                            </a>

                            <a class="main-block__button button_signUp" asp-controller="Authorization" asp-action="Registration">
                                <div class="button_signUp-text">Регистрация</div>
                            </a>

                        </div>
                    }
                    else
                    {
                        <div class="header_button">
                            <a class="main-block__button button_signIn" asp-controller="Home" asp-action="HistoryPaymentPage">
                                <div class="button_signIn-text">История</div>
                            </a>
                            <a class="main-block__button button_signIn" asp-controller="Service" asp-action="Services">
                                <div class="button_signIn-text">Платежи</div>
                            </a>
                        </div>
                        <div class="header_button">
                            <form class="main-block__button button-logout" asp-action="Logout" asp-controller="Home">
                                <input class="button_logout-text" width="100" type="submit" value="Выйти" />
                            </form>
                        </div>

                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        @*<div class="button-pop_up">
            <a href="#" id="open_pop_up">Поддержка</a>
        </div>
        <div class="pop_up">
            <div class="pop_up_container">
                <div class="pop_up_body">
                    <p>Поддержка</p>
                    <form action="">
                        <input type ="text" placeholder="вопрос"/>
                        <input type ="text" placeholder="kek"/>
                        <button>Отправить</button>
                    </form>
                    <div class="pop_up_close">
                        &#10006
                    </div>
                </div>
            </div>
        </div>*@
    </footer>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

