*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

html {
    font-size: 14px;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background: #fff;
    color: #252b42;
    font-weight: 500;
    font-family: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

.main-block {
    position: relative;
}

.main-block__container {
}
.main-block__body {
    padding: 50px 0px 191px 0px;
    margin: 10px 0px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    border: 2px solid #000;
    width: 80%;
    justify-content: center;
    align-content: center;
    height: 30px;
}
.form__basket {
    padding-top: -50px;
}
@media (max-width:992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}

.main-block__body > *:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.main-block__title {
    padding: 30px 0px 0px 0px;
    font-size: 58px;
    line-height: 137%;
    letter-spacing: 0.2px;
    font-weight: 800;
}

@media(max-width:479px) {
    .main-block__title {
        font-size: 42px;
    }
}
.form__title-user {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-decoration: underline;
    padding-left: 20px;
}
.form__title {
    padding: 0px 0px 0px 10px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.title-time {
    margin: -10px 20px 0px 0px;
}
.title-couple {
    display:flex;
}
.form__subtitle {
    padding: 0px 0px 0px 20px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
.main-couple {
    justify-content:space-between;
}

.form__input-trash:hover {
    background-image: url(/img/history/trash2.png);
}

.form__input-trash {
    height: 42px;
    width: 40px;
    padding-right: 50px;
    background-image: url(/img/history/trash.png);
    background-repeat: no-repeat;
    background-color:#fff;
}