.header_button {
    display: inline-flex;
    flex-wrap: wrap;
}

@media(max-width:570) {
    .header_button {
        float: right;
    }
}

.header_button:not(:last-child) {
    padding: 0px 10px;
}


.main-block__button {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 5px 36px;
    margin: 10px 3px;
    border-radius: 5px;
}
/*.main-block__title {
    align-content:center;
    align-items:center;
    align-self:center;
}*/
.button_signIn {
    border-radius: 5px;
    width: 90px;
}
.button_signIn:hover {
    background-color: #0d5c63;
}
    .button_signIn:hover .button_signIn-text {
        color: #fff;
        font-weight: 800;
    }

.button_signIn-text {
    color: #0d5c63;
    font-weight: 600;
}


.button_signUp {
    border-radius: 5px;
    background-color: #0d5c63;
    max-width: 130px;
}

    .button_signUp:hover {
        background-color: #fff;
        color: #fff;
        font-weight: 600;
    }

        .button_signUp:hover .button_signUp-text {
            color: #0d5c63;
            font-weight: 800;
        }
.button_signUp-text {
    color: #fff;
    font-weight: 600;
}

.button-logout {
    width: 80px;
}
    .button-logout:hover {
        border-radius: 5px;
        border: 1px solid #0d5c63;
    }
    .button-logout:hover .button_logout-text {
        font-weight: 700;
        color:#000;
    }
.button_logout-text {
    color: #0d5c63;
    font-weight: 600;
    background-color:#fff;
}

/*----------*/
.button-pop_up {
    text-align: right;
    margin-bottom: 40px;
}

    .button-pop_up a {
        color: #0d5c63;
        padding: 20px 50px;
        font-weight: 500;
        background-color: #fff;
        border-radius: 10px;
        text-decoration: none;
    }
.pop_up {
    width:100%;
    height:100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, .8);
    z-index: 2;
/*    display: none;*/
}
    .pop_up.active {
        display: block;
    }
.pop_up_container {
    display:flex;
    width: 100%;
    height: 100%;
}

.pop_up_body {
    margin:auto;
    width :500px;
    background-color:#fff;
    border-radius:10px;
    text-align:center;
    padding: 100px 15px 110px 15px;
    position:relative;
}
    .pop_up_body p {
        font-size: 28px;
        font-weight: 600;
        color: #22262D;
        margin-bottom: 40px;
    }
.pop_up_body-input {
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: #89908F;
}
    .pop_up_body-input:focus {
        outline: none
    }
.support-submit {
    cursor: pointer;
    display: block;
    width: 330px;
    margin: 60px auto 0px auto;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: #fff;
    border-radius: 10px;
    background-color: #0d5c63;
}
.pop_up_close {
    position: absolute;
    top:15px;
    right:15px;
    font-size:21px;
    cursor: pointer;
}