*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

html {
    font-size: 14px;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background: #fff;
    color: #252b42;
    font-weight: 500;
    font-family: 1;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box; /*чтобы padding добавлялся к контенту, а не забирал место в max-width при уменьшении размера окна*/
}

.main-block {
    position: relative;
}

.main-block__container {
}

.main-block__body {
    padding: 50px 0px 191px 0px;
    position: relative;
    z-index: 2;
    flex: 0 1 50%;
    display: flex;
}

@media (max-width:992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}

.main-block__body > *:not(:last-child) {
    margin: 0px 0px 35px 0px;
}

.main-block__title {
    /*    max-width: 450px;*/
    padding: 60px 0px 0px 0px;
    font-size: 58px;
    line-height: 137%;
    letter-spacing: 0.2px;
    font-weight: 800;
}

@media(max-width:479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    color: #737373;
    font-size: 20px;
    line-height: 150%;
}

@media(max-widht:479px) {
    .main-block__text {
        color: #585757;
    }
}

.main-block__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    font-weight: 700;
    text-align: center;
    line-height: 200%;
    padding: 5px 36px;
    margin: 10px 3px;
}

@media(max-widht:479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}

@media(min-widht:479px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}

.main-block__button_orange {
    background: #ff7b47;
    color: #fff;
}

.main-block__buttton_border {
    border: 1px solid #0d5c63;
    color: black;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width:1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width:992px) {
    .main-block__image {
        opacity: 0.5;
    }
}


.main__form {
}

.form__title {
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 10px;
    color: #696969;
    padding-top:10px;
}
.from__two-card {
    flex: 0 1 auto;
    display:flex;
    justify-content: center;
}
.form-card {
    width:50%;
}
.form__input-card {
    width: 95%;
    height: 35px;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 5px;
}

    .form__input-card:focus {
        color: #000;
        font-weight: 700;
        font-size: 18px;
        width:100%;
    }

.form__block {
    align-content: center;
    justify-content: center;
    text-align: center;
}
.block-button {
    padding-top: 10px;
}

.form__block:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.form-button-card {
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: #6A5ACD;
    color: #fff;
    height: 30px;
    width: 150px;
}

.form__button-card:hover {
    background-color: #008080;
    color: #000;
}
.form__button-card {
    background-color: #0d5c63;
    width: 95%;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.main-block__img {
    max-width: 30px;
    width: 30px;
    font-size: 30px;
}

.main-block__continue {
    display: flex;
    justify-content: center;
    padding:10px 0px 15px 0px;
}

.main-block__text {
    padding: 2px 3px 0px 0px;
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

.continue-item {
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: #FFF5EE;
}

.main-link {
    font-weight: 600;
    font-size: 14px;
    color: #0d5c63;
}
    .main-link:hover {
        font-weight: 700;
        text-decoration: underline;
        color: #008080;
    }
.right-block__img {
    padding: 0px 100px;
}
.img-right {
    max-height: 450px;
}
.main-block__body-left {
    width: 60%;
}