/*установление по умолчанию*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

html {
    font-size: 14px;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background: #fff;
    color: #252b42;
    font-weight: 500;
    font-family: 1;
}

/*-------------------------------*/

/*убрать горизонтальный скрол*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*--------------------------------*/
/*Ограничение рассположелния контента*/
._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box; /*чтобы padding добавлялся к контенту, а не забирал место в max-width при уменьшении размера окна*/
}

._ibg {
    position: relative;
}

    ._ibg img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
/*--------------------------------*/

/*Шапка*/

/*.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;*/ /*Для первого плана*/
/*}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-wight: 479px) {
    .header__container {
        min-height: 85px;
    }
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

.header__menu {*/
/*    margin: 0px 0px 0px 133px;*/
/*}

.menu {
    padding: 5px 0px;*/ /*Отступ безопасности, чтобы не было налипания на границы*/
/*}*/
/*Уменьшение отступа при разрешении экрана (бреик-поинт)*/
/*@media (max-width:992px) {
    .header__menu {
        margin: 0px 0px 0px 80px
    }
}

@media (max-width:767px) {
    .header__menu {
        margin: 0px 0px 0px 40px
    }
}

@media (max-width:479px) {
    .header__menu {
        margin: 0px 0px 0px 20px
    }
}

.menu__list {
    display: flex;*/ /*Для размещения в ряд*/
    /*flex-wrap: wrap;*/ /*При уменьшении размера окна, если нет места переход элементов на новую строчку*/
/*}*/
/*Всё кроме последнего элемента :not(:last-child) */
/*.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px;
}

.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: 170%;
}

@media(max-width:479px) {
    .menu__link {
        font-size: 18px;
    }
}*/
/*----page---*/
.page {
    flex: 1 1 auto;
}

.page__main-block {
}
/*Сервис выше фоновой картинки*/
.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
}

.page__advantages {
}

.page__practice {
}

.page__whoweare {
}

.page__clients:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.page__subscribe {
}

.page__getintouch {
}

.page__contact {
}
/*---Header-bloc------*/
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}

.header-block__title {
    line-height: 142%;
    font-size: 40px;
    font-weight: 700;
}

    .header-block__title:not(:last-child) {
        padding: 0px 0px 10px 0px;
    }

.header-block__sub-title {
    line-height: 142%;
    color: #737373
}

@media(max-width:992px) {
    .header-block__title {
        font-size: 35px;
    }
}

@media(max-width:767px) {
    .header-block__title {
        font-size: 30px;
    }
}
/*footer*/
.footer {
}
/*-----main-----*/
.main-block {
    position: relative;
}

.main-block__container {
}

.main-block__body {
    padding: 50px 0px 191px 0px;
    position: relative;
    z-index: 2;
    flex: 0 1 50%;
    display: flex;
}

@media (max-width:992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}

.main-block__body > *:not(:last-child) {
    margin: 0px 0px 35px 0px;
}

.main-block__title {
    /*    max-width: 450px;*/
    padding: 60px 0px 0px 0px;
    font-size: 58px;
    line-height: 137%;
    letter-spacing: 0.2px;
    font-weight: 800;
}

@media(max-width:479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    color: #737373;
    font-size: 20px;
    line-height: 150%;
}

@media(max-widht:479px) {
    .main-block__text {
        color: #585757;
    }
}

.main-block__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    font-weight: 700;
    text-align: center;
    line-height: 200%;
    padding: 5px 36px;
    margin: 10px 3px;
}

@media(max-widht:479px) {
    .main-block__button {
        flex: 1 1 100%;
    }
}

@media(min-widht:479px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}

.main-block__button_orange {
    background: #ff7b47;
    color: #fff;
}

.main-block__buttton_border {
    border: 1px solid #0d5c63;
    color: black;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width:1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width:992px) {
    .main-block__image {
        opacity: 0.5;
    }
}
/*-----------------*/

.services {
    padding: 0px 0px 40px 0px;
}

.services__container {
}

.services__body {
}

@media (min-width:670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -15px -30px;
    }
}

.servises__column {
    flex: 0 1 33.333%;
    padding: 0px 15px;
}


@media(max-width:670px) {
    .servises__column {
        padding: 0px 15px;
    }
}

@media(max-width:992px) {
    .servises__column {
        flex: 0 1 50%;
    }

        .servises__column:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }

        .servises__column:last-child {
            flex: 1 1 100%;
        }
}

.servises__item {
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0,0,0,0.07);
    background-color: #fff;
    padding: 35px;
    transition: 1s all ease;
}
    .servises__item:hover {
        background-color: #0d5c63;
        color: #fff;
        transform: scale(1.2);
    }
/*        .servises__item:hover .item-servise__text {
            background-color: #0d5c63;
            color: #fff;
        }*/
        .servises__item:hover .icon-first {
            content: url(/img/services/01_w.svg)
        }
        .servises__item:hover .icon-second {
            content: url(/img/services/02_w.svg)
        }
        .servises__item:hover .icon-third {
            content: url(/img/services/03.svg)
        }


@media(max-width:479px) {
    .servises__item {
        padding: 25px;
    }
}

.item-servise {
}

    .item-servise > *:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }

.item-servise__icon {
}

.item-servise__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}

.item-servise__text {
    color: #737373;
    line-height: 142%;
}
/*----------------------------------*/

.advantages {
    padding: 80px 0px;
}

@media(max-width:992px) {
    .advantages__colum {
        padding: 50px 0px;
    }
}

@media(max-width:767px) {
    .advantages__colum {
        padding: 30px 0px;
    }
}

.advantages__container {
}

.advantages__header {
    margin: 0px 0px 50px 0px;
}

@media(max-width:767px) {
    .advantages__header {
        margin: 0px 0px 25px 0px;
    }
}

.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 30px 0px;
}

.advantages__colum {
    padding: 0px 15px;
    margin: 0px 0px -30px;
    flex: 0 1 25%;
}

@media(max-width:1020px) {
    .advantages__colum {
        flex: 0 1 50%;
    }
}

@media(max-width:560px) {
    .advantages__colum {
        flex: 0 1 100%;
    }
}

.advantages__item {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}

    .advantages__item > *:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.advantages__value {
    font-size: 40px;
    line-height: 142%;
}

.advantages__text {
    color: #737373;
    font-size: 16px;
    line-height: 150%;
}
/*-------------------*/

.practice {
    padding: 0px 0px 80px 0px;
}

@media(max-width:993px) {
    .practice {
        padding: 40px 0px 40px 0px;
    }
}

@media(max-width:767px) {
    .practice {
        padding: 0px 0px 40px 0px;
    }
}

.practice__container {
}

.practice__header {
    margin: 0px 0px 45px 0px;
}

@media(max-width:767px) {
    .practice__header {
        margin: 0px 0px 25px 0px;
    }
}

.practice__body {
    margin: 0px -20px -30px;
    display: flex;
    flex-wrap: wrap;
}

.practice__column {
    padding: 0px 20px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}

@media(max-width:1040px) {
    .practice__column {
        flex: 0 1 50%;
    }
}

@media(max-width:630px) {
    .practice__column {
        flex: 0 1 100%;
    }
}

.practice__item {
}

.item-practice {
    background-color: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.item-practice__link {
    color: inherit;
    display: inline-block;
}

    .item-practice__link:hover {
        text-decoration: underline;
    }

    .item-practice__link:not(:last-child) {
        margin: 0px 0px 15px 0px;
    }

.item-practice__title {
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 150%;
    font-weight: 700;
}

.item-practice__text {
    color: #737373;
    line-height: 142%;
}

.item-practice__image {
    padding: 0px 0px 60% 0px;
    display: block;
}

.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}
/*----------------*/

.whoweare {
    padding: 80px 0px 50px 0px;
}

.whoweare__container {
}

.whoweare__header {
    margin: 0px 0px 50px 0px;
}

.whoweare__body {
    display: flex;
    align-items: flex-start;
}

.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
}

    .whoweare__video iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }

.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 80px;
}

@media(max-width: 1080px) {
    .whoweare__content {
        padding: 0px 0px 0px 20px;
    }
}

.whoweare__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
}

    .whoweare__title:not(:last-child) {
        padding: 0px 0px 10px 0px;
    }

.whoweare__text {
    color: #737373;
    line-height: 142%;
}

.whoweare__top:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

.whoweare__items {
}

.whoweare__item {
}

    .whoweare__item:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }

.item-whoweare {
    display: flex;
}

.item-whoweare__icon {
    flex: 0 0 32px;
}

.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

    .item-whoweare__title:not(:last-child) {
        margin: 0px 0px 5px 0px;
    }

.item-whoweare__text {
    color: #737373;
    line-height: 142%;
}

@media(max-widht:950px) {
    .whoweare__title {
        font-size: 24px;
    }

    .whoweare__content {
        padding: 0px 0px 0px 0px;
    }

    .whoweare__video:not(:last-child) {
        margin: 50px 0px 0px 0px;
    }

    .whoweare {
        padding: 50px 0px 50px 0px;
    }

    .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }

    .whoweare__header {
        margin: 0px 0px 30px 0px;
    }
}
/*------------------*/

.clients {
    padding: 50px 0px;
}

@media(max-widht:767px) {
    .clients {
        padding: 30px 0px;
    }
}

.clients__container {
}

.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.clients_item {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}

    .clients_item img {
        width: 100%;
    }
/*---------------------*/

/*.subscribe {
    position: relative;
    padding: 0px 0px 20px 0px;
}*/
    /*линия*/
    /*.subscribe:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 77px;
        left: 0;
        background: #252b42;
    }

.subscribe__container {
}

.subscribe__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    align-items: center;
    margin: 0px 30px;
    background: #17213c;
    border-radius: 2px;
}

@media (min-width:1070px) {
    .subscribe__body {
        margin: 0px 30px;
    }
}

@media (min-width:810px) {
    .subscribe__body {
        display: flex;
        justify-content: space-between;
    }

    .subscribe__title {
        max-width: 266px;
    }
}

.subscribe__title {
    color: #fff;
    font-size: 133%;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

@media (max-width:810px) {
    .subscribe__title {
        margin: 0px 0px 20px 0px;
    }

    .subscribe__body {
        margin: 0px -15px;
        padding: 20px 25px;
    }
}

.subscribe_form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}

.subsribe__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    background: #f9f9f9;
    color: #737373;
    padding: 0px 20px;
    border: 1px solid #e6e6e6;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}

    .subsribe__input:focus {
        color: #000;
    }

.subscribe_button {
    background: #ff7b47;
    border: 1px solid #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0px 22px;
}*/
/*--------------------------------*/
.getintouch {
    padding: 30px 0px 80px 0px;
}

.getintouch__container {
}

.getintouch__header {
    margin: 0px 0px 80px 0px;
}

@media (max-width:992px) {
    .getintouch {
        padding: 50px 0px;
    }

    .getintouch__header {
        margin: 0px 0px 50px 0px;
    }
}

@media (max-width:767px) {
    .getintouch__header {
        margin: 0px 0px 30px 0px;
    }
}

.getintouch__items {
    margin: 0px -15px;
}

@media (min-width:992px) {
    .getintouch__items {
        margin: 0;
        display: flex;
        align-items: center;
    }
}

.getintouch__item {
    flex: 0 1 33.333%;
    transition: 1s all ease;
}
    .getintouch__item:hover {
        color: #fff;
        transform: scale(1.2);
        background-color: #0d5c63;
    }
        .getintouch__item:hover .icon-first {
            content: url(/img/getintouch/04.png)
        }
        .getintouch__item:hover .icon-second {
            content: url(/img/getintouch/02.svg)
        }
        .getintouch__item:hover .icon-third {
            content: url(/img/getintouch/06.png)
        }
        .getintouch__item:hover .button-text {
            color:#fff;
        }
.button-text {
    color:#000
}
.item-getintouch__text {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px;
}

.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 15px;
}

.item-getintouch__icon {
}

.item-getintouch > *:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-getintouch__email {
    color: inherit;
}

    .item-getintouch__email:hover {
        text-decoration: underline;
        line-height: 150%;
        font-weight: 600;
        font-size: 16px;
    }

.item-getintouch__label {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.item-getintouch__button {
    border: 1px solid #252b42;
    min-height: 44px;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    line-height: 142%;
    transition: all 0.3s ease 0s;
    padding: 5px 20px;
}

    .item-getintouch__button:hover {
        background: #fff;
        color: #fff;
        border: 1px solid #fff;
    }
    .item-getintouch__button:hover .button-text {
        color: #000;
    }


    .item-getintouch_active .item-getintouch__button {
        border: 1px solid #fff;
        color: #fff;
    }

/*-------------------------*/

/*.contact {
    background-color: #fff;
    padding: 42px 0px;
}

.contact__container {
}

.contact__content {
    padding: 0px 0px 20px 0px;
}

@media (min-width:767px) {
    .contact__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact__content {
        padding: 0px 20px 0px 0px;
    }
}

.contact__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}

    .contact__title:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }

.contact__text {
    color: #737373;
    line-height: 142%;
}

.contact__button {
    display: flex;
    border-radius: 5px;
    background-color: #ff7b47;
    min-height: 58px;
    padding: 5px 20px;
    transition: background-color 0.3s ease 0s;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

    .contact__button:hover {
        background-color: #aa5330;
    }*/
/*--------*/
.footer__top {
    background: #252b42;
/*    background: #0d5c63;*/
    padding: 35px 0;
}

.footer__main {
}

.footer_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.footer__column {
    padding: 15px 15px;
    flex: 0 1 16.6667%;
}

    .footer__column:last-child {
        flex: 0 1 33.334%;
    }

@media(max-width:992px) {
    .footer__column {
        flex: 0 1 25%;
    }

        .footer__column:last-child {
            flex: 1 1 100%;
        }
}

.footer__lable {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin: 0px 0px 20px 0px;
}

.footer__menu {
}

.menu-footer {
}

.menu-footer__list {
}

.menu-footer__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.menu-footer__link {
    color: #fff;
    display: inline-block;
    line-height: 171%;
    letter-spacing: 0.2px;
}

    .menu-footer__link:hover {
        text-decoration: underline;
    }

.footer__contacts {
}

.contacts-footer {
    display: flex;
    flex-direction: column;
}

.contacts-footer__item {
    padding: 0px 0px 0px 34px;
    line-height: 142%;
    display: flex;
    align-items: center;
    color: #ffffff;
    min-height: 30px;
}

    .contacts-footer__item:hover {
        text-decoration: underline;
    }

    .contacts-footer__item:not(:last-child) {
        margin: 0px 0px 12px 0px;
    }

.contacts-footer__item_phone {
    background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}

.contacts-footer__item_place {
    background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}

.contacts-footer__item_email {
    background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}

.foooter__bottom {
    padding: 25px 0px;
}

@media(min-width:767px) {
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__copu {
    color: #737373;
    line-height: 171%;
}

.footer__social {
}

.social {
    display: flex;
    align-items: center;
}

.social__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
}
