*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

html {
    font-size: 14px;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background: #fff;
    color: #252b42;
    font-weight: 500;
    font-family: 1;
}

/*-------------------------------*/

/*убрать горизонтальный скрол*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*--------------------------------*/
/*Ограничение рассположелния контента*/
._container {
    max-width: 1046px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box; /*чтобы padding добавлялся к контенту, а не забирал место в max-width при уменьшении размера окна*/
}

.main-block {
    position: relative;
}

.main-block__container {
}

.main-block__body {
    padding: 50px 0px 191px 0px;
    position: relative;
    z-index: 2;
    flex: 0 1 50%;
    display: flex;
}

@media (max-width:992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}

.main-block__body > *:not(:last-child) {
    margin: 0px 0px 35px 0px;
}

.main-block__title {
    /*    max-width: 450px;*/
    padding: 60px 0px 0px 0px;
    font-size: 58px;
    line-height: 137%;
    letter-spacing: 0.2px;
    font-weight: 800;
}

@media(max-width:479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width:1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width:992px) {
    .main-block__image {
        opacity: 0.5;
    }
}


.main-block__form-submit {
    padding-left:10px;
    text-align:left;
    font-size:24px;
    font-weight:600;
    height:40px;
    width:75%;
}
.main-block__form-img {
    width:10%;
}
.main-block__form {
    padding-bottom:10px;
    
}

    .main-block__form:hover .main-block__form-submit {
        color: #0D5C63;
    }
    .main-block__form:hover .main-block__form-img {
        content: url(/img/Payment/Folder2.png)
    }

.form__input {
    width: 80%;
    font-size: 16px;
    font-weight: 600;
    height: 25px;
    text-align: left;
    margin: 5px 5px;
    padding: 10px 10px;
    border: 1px solid #0d5c63;
    border-radius: 10px;
}
.form__label {
    color: #696969;
    font-size: 14px;
    font-weight: 400;
}
.form__block {
    padding-bottom:10px;
    justify-content:center;
}
    .form__submit:hover {
        background-color: #008080;
        color: #000;
    }

.form__submit {
    background-color: #0d5c63;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}